/*need a column gap only on the right side after the first element*/
.container {
  grid-row-gap: 20px;
  flex-flow: row wrap;
  justify-items: self-start;
  width: fit-content;
  align-items: center;
  padding: 24px;
}

img {
  width: 240px;
  height: 200px;
  object-fit: cover;
  align-items: center;
}

.responsive-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-card{
  margin: 10px;
}


.mat-card-actions{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mat-button{
  background-color: #004a9f;
  color: white;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card-subtitle, .mat-card-content{
  font-weight: bolder;
  font-size: 80%;
}

@media(max-width: 767px){
  .mat-card{
    /*column-gap: 24px;*/
  }
}






