section,.section{
  padding: 6.5rem 0;
  position: relative;
  background-color: #24262b;
  color: #ffffff;
  width: 100%;
}

.info .container{
  z-index:9999;position:relative;
  background-color: white;
  padding: 0;
}

.container, .row-p5{
  width: fit-content;
}




