/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

html, body {
  background: radial-gradient(circle, rgba(67,57,237,1) 0%, rgba(26,26,140,1) 100%, rgba(0,212,255,1) 100%);}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
